{% extends 'base.html' %}
  {% block content %}
<style>
    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
</style>
<h2 align="center">{{Errmsg}}</h2>
<div style="margin-left:1%;  margin-top:5%" class="round-rect">
<form action="/Customer/customer-listings" method="post" class="form-search form-horizontal">
{% csrf_token %}
{%if CustomersList %}

<h4 style="font-size:16px; color:#FF6600; margin-top:1%" class="pull-left">{% if type == "1" %}Sale Listings {% else %} Rental Listings {% endif %}</h4>
<div class="input-append  pull-right" style="margin-top:1%"><input type="text" name="keywords" class="search-query" placeholder="Search"/><button type="submit" class="btn btn-mini"><i class="icon-search"></i></button></div>
<input type="hidden" name="type" value="{{type}}" />
</form>
<table width="1053" border="0" cellspacing="0" cellpadding="0" align="center" class="table table-hover" id="tab">
  <thead>
  <tr>
    <td width="88" nowrap="nowrap">Property Code</td>
    <td width="104">Property Type</td>
    <td width="220">Title</td>
    <td width="107">Mobile Number</td>
    <td width="118">Address</td>
    <td width="118">Plan</td>
    <td width="118">Posted Date</td>
    <td width="118">Exp Date</td>
    <td width="118">Options</td>
  </tr>
  </thead>
  {% for clist in CustomersList %}
  <tr >
    <td>{{clist.propertyid}}</td>
    <td nowrap="nowrap">{{clist.PropertyType}}</td>
    <td width="300px"> <a href="/listing-info?lid={{clist.listingid}}&type={{type}}">{{clist.title}}</a></td>
    <td>{{clist.phone}}</td>
    <td  nowrap="nowrap" title="{{clist.address}}">{{clist.City.name}}, {{clist.State.name}}</td>
    <td>{{clist.Plan}}</td>
    <td>{{clist.posteddate | date:"d/m/Y"}}</td>
	<input type="hidden" name="cid" value="{{clist.listingid}" />
    <td>{{clist.expirydate | date:"d/m/Y"}}</td>
    <td><input type="submit" name="Submit" value="Edit" onclick="Edit({{clist.listingid}},{{type}})" class="btn btn-mini btn-info"/>&nbsp;<input type="submit" name="Submit" value="Delete" onclick=" return Delete({{clist.listingid}},{{type}})" class="btn btn-mini btn-danger"/></td>
  </tr>
  {% endfor %}
</table>
{%endif%}
{%if not CustomersList %}
	{% if type == "1" %}
	<p> There are no sale listings please add listings</p>
	{%endif%}
	{% if type == "2" %}
	<p>There are no rental listings please add listings</p>
	{%endif%}
{%endif%}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
function Edit(lid,type)
{
	var url ='/Customer/listing-form?lid=' +lid+ '&type=' +type;
	window.location.href = url
}
function Delete(lid,type)
{
	var option = confirm("Are you sure? You want to delete?");
	if(option == true)
	{
		var url = '/Customer/list-delete?lid=' +lid+ '&type=' +type;
		window.location.href = url
	}
	else
	{
		var url = '/Customer/customer-listings?cid=' +Customer.customerid+ '&type=' +type 
		window.location.href = url
	}
}
</script>
</div>
{% if CustomersList%}
<div class="pagination" align="center">
    <span class="step-links">
        {% if CustomersList.has_previous %}
            <a href="?cid={{cid}}&type={{type}}&page={{CustomersList.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ CustomersList.number }} of {{ CustomersList.paginator.num_pages }}.
        </span>

        {% if CustomersList.has_next %}
            <a href="?cid={{cid}}&type={{type}}&page={{ CustomersList.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{%endif%}
  <link type="text/css" rel="stylesheet" href="/(path)/tooltip.css" />
<script type="text/javascript" src="/(path)/tooltip.js"></script>
<script>
  </script>
{% endblock content %}