<style type="text/css">
<!--
.style4 {
	font-size: large;
	color: #990000;
}
.style5 {
	font-size: large;
	font-weight: bold;
	color: #663399;
}
-->
</style>
<div class="round-rect" style="width:800px">
<legend style="font-size:16px; color:#FF6600">Dear {{first_name}} {{last_name}} </legend>
<p>Thank you for choosing <a href="http://www.indiadens.com" target="_blank">IndiaDens.com</a> as your favorite property ads media. </p>
<p>You have requsted for the Password Reset and here are the details.</p>
<p>User Name: {{email}} </p>
<p>Password: {{password}} </p>
<p>Please click <a href='/Customer/login'>here</a> to login to manage your listings. </p>

<p>Thanks,</p>
<p>India Dens. </p>
</div>
