{% extends 'base.html' %}
{% block content %}
<div style="margin-left:20%; margin-right:25%; margin-top:10%">
<div class="round-rect" style="width:400px">
<form class="form-horizontal" action="change-password" method="post">
{% csrf_token %}
<p align="center" id="error">{{errmsg}}</p>
<legend style="font-size:16px; color:#FF6600">Change Password</legend>
<table width="100%" border="0" cellspacing="1" cellpadding="3">
  <tr>
    <td>Existing Password </td>
    <td><input name="currentpassword" type="password" class="form-control" id="currentPassword" placeholder="Current password"></td>
  </tr>
  <tr>
    <td>New Password </td>
    <td><input name="newpassword" type="password" class="form-control" id="newPassword" placeholder=" New Password"></td>
  </tr>
  <tr>
    <td>Confirm Password </td>
    <td><span class="checkbox">
      <label>
      <input name="confirmpassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
      </label>
    </span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><button type="submit" class="btn btn-default"  onClick="return checkPassword()">Save</button></td>
  </tr>
</table>
</form>
</div>
</div>
<script>
function checkPassword()
{
 var x = $("#currentPassword").val();
 var y = $("#newPassword").val();
 var z = $("#confirmPassword").val();
if(x=="")
 {
   $("#error").html("Please Enter current password");
   $("#currentPassword").focus()
   document.getElementById("error").style.color="red";
   return false;
 }
else if(y=="")
 {
   $("#error").html("Please Enter new Password");
   $("#newPassword").focus()
   document.getElementById("error").style.color="red";
   return false;
 }
 else if(z=="")
 {
   $("#error").html("Please Enter confirm Password");
   $("#confirmPassword").focus()
   document.getElementById("error").style.color="red";
   return false;
 }
 else
 {
 return true;
 }
}
</script>

{% endblock content %}