{% extends 'base.html' %}
{% block content %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Untitled Document</title>
</head>
<body>
<form name="form1" method="post" enctype="multipart/form-data" action="listing-images">
  {%csrf_token%}
  <table>
    {% for imgObj in image_list %}
    <tr>
      <td><table width="100%" border="3" cellspacing="1" cellpadding="1">
          <tr>
            <td width="200px"><img src="{{imgObj.largeimage}}" alt="Image Description" width="250px" height="200px"  /></td>
            <td><textarea name="Description-{{forloop.counter}}" value="{{imgObj.description}}"></textarea>
            <input type="hidden" name="ListingImageID-{{forloop.counter}}" value="{{imgObj.listingimageid}}"></td>
          </tr>
          <tr>
            <td><input type="file" name="file-{{forloop.counter}}" /></td>
          </tr>
        </table></td>
    </tr>
    {% endfor %}
  </table>
 
        <input type="hidden" name="lid" value="{{lid}}">
        <input type="hidden" name="maxlimit" value="{{maxlimit}}">
 
    <p align="center">
      <input type="submit" name="Submit" value="Submit">
    </p>
</form>
</body>
</html>
{% endblock content %}