{% extends 'Staff/base.html' %}
{% block content %}
<div style="margin-left:10%; margin-right:25%; margin-top:10%">
<div class="round-rect" style="width:800px">
<legend style="font-size:16px; color:#FF6600">New Listings</legend>
<form class="form-horizontal">
  <table width="100%" border="0" cellspacing="1" cellpadding="3" class="table-hover">
    
    <tr>
      <td width="11%"><img src="/static/listingimages/filename.jpg" width="200px" height="200px" /></td>
      <td width="89%"><table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr>
          <td width="20%">Name</td>
          <td width="18%">Email</td>
          <td width="24%">Phone</td>
          <td width="25%">ListingType</td>
          <td width="13%">Price</td>
        </tr>
        <tr>
          <td>Area: 1200 sqft </td>
          <td>Bedrooms: 2</td>
          <td>Bathrooms: 1 </td>
          <td>&nbsp;</td>
          <td><a href="javascript:window.location.href='/edit-listing?id='">Edit</a></td>
        </tr>
        <tr>
          <td>Address</td>
          <td colspan="4">No. 7, Block-A, Mahalakshmi Arcade, Hyderabad, Andhrapradesh </td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/static/listingimages/filename.jpg" width="200px" height="200px" /></td>
      <td><table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr>
          <td width="20%">Name</td>
          <td width="18%">Email</td>
          <td width="24%">Phone</td>
          <td width="25%">ListingType</td>
          <td width="13%">Price</td>
        </tr>
        <tr>
          <td>Area: 1200 sqft </td>
          <td>Bedrooms: 2</td>
          <td>Bathrooms: 1 </td>
          <td>&nbsp;</td>
          <td><a href="javascript:window.location.href='/edit-listing?id='">Edit</a></td>
        </tr>
        <tr>
          <td>Address</td>
          <td colspan="4">No. 7, Block-A, Mahalakshmi Arcade, Hyderabad, Andhrapradesh </td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/static/listingimages/filename.jpg" width="200px" height="200px" /></td>
      <td><table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr>
          <td width="20%">Name</td>
          <td width="18%">Email</td>
          <td width="24%">Phone</td>
          <td width="25%">ListingType</td>
          <td width="13%">Price</td>
        </tr>
        <tr>
          <td>Area: 1200 sqft </td>
          <td>Bedrooms: 2</td>
          <td>Bathrooms: 1 </td>
          <td>&nbsp;</td>
          <td><a href="javascript:window.location.href='/edit-listing?id='">Edit</a></td>
        </tr>
        <tr>
          <td>Address</td>
          <td colspan="4">No. 7, Block-A, Mahalakshmi Arcade, Hyderabad, Andhrapradesh </td>
        </tr>
      </table></td>
    </tr>
  </table>
</form>
</div>
</div>
{% endblock content %}