{% extends 'base.html' %}
{% block content %}
<div class="round-rect" style="width:800px; margin-top:5%">
<legend style="font-size:16px; color:#FF6600">Mobile Messages</legend>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="table-hover">
  <tr bgcolor="#CCCCCC">
    <td>MessageFrom</td>
    <td>MessageTo</td>
    <td>Message</td>
    <td>Sent Date</td>
    <td></td>
  </tr>
 {% for mlist in Messagelist %}
  <tr>
    <td width="100px">{{mlist.messagefrom}}</td>
    <td>{{mlist.messageto}}</td>
    <td width="400px">{{mlist.message}}</td>
    <td>{{mlist.sentdate}}</td>
    <td><input type="submit" name="Submit" value="Delete" onClick="Delete({{mlist.messageid}})"></td>
  </tr>
 {% endfor %}
</table>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
function Delete(mid)
{
 	var url = 'delete-messages?msgid='+mid
	window.location.href = url
}
</script>

{% endblock content %}