<!DOCTYPE html>
<html>
<head>
<title>India Dens</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="//code.jquery.com/ui/1.10.1/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
<link href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<style>
		html, body { 
			margin:0; 
			padding:0; 
			font-family:"Helvetica", Arial, sans-serif;
			height:100%; 
			font-size:12px; 
			line-height:18px; 
			color:#6d6e71;
			background:#fff url(img/background.png) no-repeat 50% 0;

 	    }
		</style>
</head>
<body>
<div class="container-fluid">
  <div class="navbar" style="height:600px">
    <div class="navbar-inner"><a class="brand" id="logo" href="/">India Dens</a>
	<ul class="nav">
	 <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Staff<b class="caret"></b></a>
              <ul class="dropdown-menu">
                   <li><a href="/dashboards/dashboard/31001/"><i class="icon-star"></i>Add New Employee</a></li> 
                   <li><a href="/dashboards/dashboard/31001/"><i class="icon-star"></i>List Administrators</a></li>
                   <li><a href="/dashboards/dashboard/31001/"><i class="icon-star"></i>List Employees</a></li>
                   <li><a href="/dashboards/dashboard/31001/"><i class="icon-star"></i>List Executives</a></li>
              </ul>
     </li>
	 <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Customers<b class="caret"></b></a>
              <ul class="dropdown-menu">
                   <li><a href="/dashboards/dashboard/31001/"><i class="icon-star"></i>Add New Customer</a></li> 
                   <li><a href="/dashboards/dashboard/31001/"><i class="icon-star"></i>View Customers</a></li>
              </ul>
     </li>
	</ul>

<ul class="nav pull-right">                          

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="disabled"><a href="#">Logs</a></li>
                                        <li class="disabled"><a href="#">Data Refresh</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">murthy@expertsden.com<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/accounts/profile/">Profile</a></li>
                                        <li><a href="/accounts/change-password/">Change password</a></li>
                                                                        
                                            <li class="divider"></li>                            
                                            <li><a href="/accounts/user-management/">Manage Users</a></li>
                                            <li><a href="/dashboards/security/">Security</a></li>
                                            <li><a href="/accounts/subscription/">Subscription</a></li>
                                            <li class="disabled"><a href="#">Payment History</a></li>
                                        
                                        <li class="divider"></li>                            
                                        <li class="disabled"><a href="#">Help and Support</a></li>
                                        <li><a href="/accounts/logout/">Logout</a></li>
                                    </ul>
                                </li>
                            
                        </ul>

   </div>
   <div id="MainBox">
    Welcome $FirstName $Last ($Role)
	{% block content %}
        
    {% endblock content %}
   </div>
  </div>
  <span class="form-footer">&copy; 2013 Flumen Softwares &reg; Private LImited.</span> </div>
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
