<p>Dear {{first_name}} {{last_name}} </p>
<p>Thank you for creating an account in <a href="http://www.indiadens.com" target="_blank">IndiaDens.com</a></p>
<p>Your Email id is {{Customer_Emailid}}</p>
<p> Your Paasword is {{Customer_Password}}</p>
<p>Please follow the link to confirm your account <a href="{{confirmation_link}}" target="_blank">{{confirmation_link}}</a></p>
<p>Also you need to verfity your mobile number for better communication by IndiaDens team and Web Site visitors.</p>
<p>Please SMS the following code to {{ConfirmMobile}} <span class="style5">{{ConfirmationCode}}</span> within 48 hours. Until then your listing(s) will be on hold. </p>
<p>Please unlock your account by sedning an SMS</p>
<p>Thanks for choosing our service.</p>
<p style="color:#FF3300">India Dens Team.  </p>

