<!DOCTYPE html>
<html>
<head>
<title>India Dens</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/jquery-ui.min.css" rel="stylesheet">
<link href="/static/css/jquery.dataTables_themeroller.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
<script>
$('.carousel').carousel()
</script>
<script src="/static/js/jquery-1.9.1.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/flumensoft.js"></script>

<script type="text/javascript" src="/static/js/jquery.mockjax.js"></script>
<script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>

</body>
</html>
