{% extends 'base.html' %}
{% block content %}
<div style="margin-left:20%; margin-right:25%; margin-top:10%">
  <div class="round-rect" style="width:400px">
    <form class="form-horizontal" action="visitor-reviewsform" method="post">
      {% csrf_token %}
      <legend style="font-size:16px; color:#FF6600">Visitor Reviews</legend>
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr>
          <td> Name </td>
          <td>{{form.Name}}
            <p id="Err1"></p></td>
        </tr>
        <tr>
          <td>Emailid </td>
          <td>{{form.Email}}
            <p id="Err3"></p></td>
        </tr>
        <tr>
          <td>Contact Number </td>
          <td>{{form.Contactno}}
            <p id="Err5"></p></td>
			<td>{{form.CustomerId}}</td>
			<td>{{form.ListingId}}</td>
			<td>{{form.ListingType}}</td>
        </tr>
        <tr>
          <td>Best Price</td>
          <td>{{form.Bestprice}}
            <p id="Err7"></p></td>
        </tr>
        <tr>
          <td>Visitor Comments</td>
          <td>{{form.Visitorcomments}}
            <p id="Err9"></p></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input name="Submit" type="submit" value="submit" /></td>
        </tr>
      </table>
    </form>
  </div>
</div>
{% endblock content %}